.lead__card {
    max-width: 984px;
    margin: 0;
  }
  
  @media screen and (max-width: 1024px) {
    .lead__card {
      max-width: 928px;
    }
  }
  
  @media screen and (max-width: 946px) {
    .lead__card {
      max-width: 100%;
    }
  }
  