@media screen and (max-width: 767px) {
    .footer__links {
      justify-content: space-evenly;
      flex-direction: column;
      margin-bottom: 48px;
      display: flex;
      max-width: 158px;
    }
  }
  