.place__paragraph {
  padding: 0;
  line-height: 163%;
  max-width: 484px;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  margin-bottom: 26px;
}
  @media screen and (max-width: 768px) {
    .place__paragraph {
      font-size: 16px;
    }
  }
  
  