
  .place__paragraph {
    margin: 0 0 26px;
  }
  
  @media screen and (max-width: 1024px) {
    .place__paragraph {
      margin-bottom: 27px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .place__paragraph {
      margin-bottom: 25px;
    }
  }
  
  .place__paragraph:last-of-type {
    margin: 0;
  }
  
  