.place__link {
    text-decoration: underline;
    text-underline-offset: 2px;
    line-height: 22px;
    max-width: 456px;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
  }
  